@model HR.ViewModel.ListEmployeeViewModel

@using GridMvc.Html

@{
    ViewBag.Title = "Employees";
}


<div class="row">
    
</div>
<div class="container">
    @Html.Grid(Model.Employees).Named("Employees").Columns(c =>
{
    c.Add(a => a.ID).Titled("ID").Filterable(true).Encoded(false)
     .Sanitized(false).SetWidth(0).Css("collapse");
    c.Add(a => a.Name).Titled("EmployeeName");
    c.Add(a => a.Governorate.Name).Titled("Governorates");
    c.Add(a => a.Neighborhood.Name).Titled("Neiboorhood");
    c.Add(a => a.CareerField.Name).Titled("CareerFields");
    c.Add(a => a.Address).Titled("Address");
    c.Add(a => a.CompanyJob.Name).Titled("CompanyJobs");
    c.Add().Encoded(false).Sanitized(false)
.SetWidth(30).RenderValueAs(data => Html.ActionLink("Delete", "Delete", new {id = data.ID }, new { @class = "btn btn-info" }));
    c.Add().Encoded(false).Sanitized(false)
.SetWidth(30).RenderValueAs(data => Html.ActionLink("Edit", "EditEmployee","Employees" ,new { id = data.ID }, new { @class = "btn btn-info" }));

    //c.Add(a => a.EmployeeQualifications.Count).Titled("EmployeeQualifications");
}).WithPaging(180).EmptyText("no data found")

</div>
